<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: managePublic('修改密码 - 云水滴商户后台',~{})"></head>
<body>
<th:block th:replace="fragments/top :: merchantPublic('修改密码','修改自己的登录密码',~{::#content},~{})">
    <div class="content" id="content">
        <div class="row">
            <div class=" col-lg-4 col-12 ">
                <form method="post" id="form">
                    <div class="form-group">
                        <label for="oldPwd">原密码</label>
                        <input type="password" class="form-control" id="oldPwd" name="oldPwd"
                               data-fieldname="旧密码"
                               placeholder="请输入旧密码">
                    </div>
                    <div class="form-group">
                        <label for="newPwd">新密码</label>
                        <input type="password" class="form-control" id="newPwd" name="newPwd"
                               data-fieldname="新密码"
                               placeholder="请输入想要设定的新密码">
                    </div>
                    <div class="form-group">
                        <label for="newPwd2">确认新密码</label>
                        <input type="password" class="form-control" id="newPwd2" name="newPwd2"
                               data-fieldname="确认新密码"
                               placeholder="请再次输入想要设定的新密码">
                    </div>
                    <div class="alert alert-danger" th:if="${msg != null}">
                        <strong>提示:</strong><span th:text="${msg}"></span>
                    </div>
                    <input type="hidden" name="token" th:value="${token}">
                    <button type="submit" class="btn btn-primary float-right px-5">确认修改</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="fragments/js :: managePublic(~{})"></th:block>
<script type="text/javascript" src="/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/validate/localization/messages_zh_layer.js"></script>
<script>
    $(document).ready(function () {
        $("#form").validate({
            rules: {
                oldPwd: {
                    required: true,
                    rangelength: [5, 20]
                },
                newPwd: {
                    required: true,
                    rangelength: [5, 20]
                },
                newPwd2: {
                    required: true,
                    equalTo: "#newPwd"
                }
            },
            submitHandler: function (form) {
                layer.confirm('确认修改密码？', {
                    btn: ['确认', '取消'] //按钮
                }, function () {
                    form.submit();
                });
            }
        });
    })
</script>
</body>
</html>