<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragments/header :: managePublic('商户开户 - 行游神州管理员后台',~{::link})">
    <link href="/js/cropper/cropperjs/cropper.min.css" rel="stylesheet">
</head>
<body>
<div class="modal fade show" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="loader-wrapper incomponent" id="uploadDiv">
                <div class="spinner">
                    <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                cy="33" r="28"></circle>
                    </svg>
                    <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="28"></circle>
                    </svg>
                    <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="28"></circle>
                    </svg>
                    <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="28"></circle>
                    </svg>
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">商户LOGO设置</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons ">close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" lang="zh">
                        <label class="custom-file-label" for="validatedCustomFile">选择LOGO图片</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <img id="imgFile" class="img-thumbnail" style=" width:100%;padding-bottom: 40%;max-width: 100%">
                    </div>
                    <div class="col-4">
                        <div class="text-center ml-2  docs-buttons">
                            <div id="preview" style="width:100px;height:100px;overflow: hidden" class="img-thumbnail">
                            </div>
                            <hr>
                            <div class="btn-group mb-1">
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="zoom"
                                        data-option="0.1" title="Zoom In">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="放大">
                                      <span class="material-icons align-text-bottom md-18">zoom_in</span>
                                    </span>
                                </button>
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="zoom"
                                        data-option="-0.1" title="Zoom Out">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="缩小">
                                      <span class="material-icons align-text-bottom md-18">zoom_out</span>
                                    </span>
                                </button>
                            </div>
                            <div class="btn-group mb-1">
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="rotate"
                                        data-option="-45" title="Rotate Left">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="左旋转45°">
                                      <span class="material-icons align-text-bottom md-18">rotate_left</span>
                                    </span>
                                </button>
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="rotate"
                                        data-option="45" title="Rotate Right">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="右旋转45°">
                                      <span class="material-icons align-text-bottom md-18">rotate_right</span>
                                    </span>
                                </button>
                            </div>
                            <div class="btn-group mb-1">
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="scaleX"
                                        data-option="-1" title="Flip Horizontal">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="水平翻转">
                                      <span class="material-icons align-text-bottom md-18">flip</span>
                                    </span>
                                </button>
                                <button type="button" class="btn py-1 px-2 btn-primary" data-method="scaleY"
                                        data-option="-1" title="Flip Vertical">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
                                          data-original-title="垂直翻转">
                                     <span class="material-icons align-text-bottom md-18"
                                           style="transform: rotate(90deg)">flip</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnUploadImg">确认</button>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/top :: adminPublic('商户开户','添加新的商户并为其开户',~{::#content},~{})">
    <div class="content" id="content">
        <form method="post" id="form">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card" style="height:100%;">
                        <div class="card-header">商户资料</div>
                        <div class="card-body">
                            <div class="alert alert-danger" th:if="${msg != null}">
                                <strong>提示:</strong><span th:text="${msg}"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="userName">登录名</label>
                                    <input type="text" class="form-control" id="userName" name="userName"
                                           data-fieldname="商户登录名"
                                           placeholder="请设定商户的登录名(必填)">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password">初始密码</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           data-fieldname="商户初始密码"
                                           placeholder="请设定商户初始密码(必填)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="name">商户名称</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           data-fieldname="商户名称"
                                           placeholder="请输入商户的全称(必填)">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>LOGO</label>
                                    <div class="form-row">
                                        <div class="col-10">
                                            <button type="button" data-toggle="modal" data-target="#largeModal"
                                                    class="btn btn-warning text-white btn-block">设置
                                            </button>
                                        </div>
                                        <div class="col-2">
                                            <img id="logoPriew" src="/img/admin/logo2.png" style="width: 30px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="businessLicense">商户营业执照</label>
                                <input type="text" class="form-control" id="businessLicense"
                                       name="businessLicense"
                                       data-fieldname="商户营业执照"
                                       placeholder="请填写18位企业社会统一信用代码">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="level">等级</label>
                                    <select id="level" name="level" class="form-control">
                                        <option th:each="lv : ${application.merchantLevel}" th:text="${lv.key}"
                                                th:value="${lv.value}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="province">地区-省</label>
                                    <select id="province" name="province" class="form-control"
                                            data-fieldname="商户地区-省">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="city">地区-市</label>
                                    <select id="city" name="city" class="form-control"
                                            data-fieldname="商户地区-市">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="contactName">联系人名称</label>
                                    <input type="text" class="form-control" id="contactName" name="contactName"
                                           data-fieldname="联系人名称"
                                           placeholder="请输入商户负责人名称(必填)">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="contactMobile">联系电话</label>
                                    <input type="text" class="form-control" id="contactMobile" name="contactMobile"
                                           data-fieldname="联系电话"
                                           placeholder="请输入商户负责人的联系电话(必填)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="contactEmail">联系邮箱</label>
                                    <input type="email" class="form-control" id="contactEmail" name="contactEmail"
                                           data-fieldname="联系邮箱"
                                           placeholder="请输入商户的电子邮箱地址">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="contactAddress">联系地址</label>
                                    <input type="text" class="form-control" id="contactAddress" name="contactAddress"
                                           data-fieldname="联系地址"
                                           placeholder="请设定商户的联系地址">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                    <div class="card" style="height:100%;">
                        <div class="card-header">结算及其他资料</div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="bankName">结算卡银行名称</label>
                                    <input type="text" class="form-control" id="bankName" name="bankName"
                                           data-fieldname="结算卡银行名称"
                                           placeholder="请输入商户结算卡银行名称(必填)">
                                </div>
                                <div class="form-group col-md-7">
                                    <label for="bankCard">结算银行卡号</label>
                                    <input type="text" class="form-control" id="bankCard" name="bankCard"
                                           data-fieldname="结算银行卡号"
                                           placeholder="请输入商户结算银行卡号(必填)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="bankCardOwnerName">结算卡持有人姓名</label>
                                    <input type="text" class="form-control" id="bankCardOwnerName"
                                           name="bankCardOwnerName"
                                           data-fieldname="结算卡持有人姓名"
                                           placeholder="请输入商户结算卡持有人姓名(必填)">
                                </div>
                                <div class="form-group col-md-7">
                                    <label for="bankCardMobile">结算卡预留手机号</label>
                                    <input type="text" class="form-control" name="bankCardMobile" id="bankCardMobile"
                                           data-fieldname="结算银行卡预留手机号"
                                           placeholder="请输入商户结算卡预留手机号(必填)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bankCardOwnerIdCard">结算卡持有人身份证号</label>
                                <input type="text" class="form-control" id="bankCardOwnerIdCard"
                                       name="bankCardOwnerIdCard"
                                       data-fieldname="结算卡持有人身份证号"
                                       placeholder="请输入结算银行卡持有人身份证号(必填)">
                            </div>
                            <!--<div class="form-row">-->

                            <!--<div class="form-group col-md-5">-->
                                <!--<label for="slogan">富友商户号</label>-->
                                <!--<input type="text" class="form-control" id="fyMerchantId" name="fyMerchantId"-->
                                       <!--placeholder="请输入富友商户号(必填)" data-fieldname="富友商户号"/>-->
                            <!--</div>-->
                            <!--<div class="form-group col-md-7">-->
                                <!--<label for="slogan">富友商户密钥</label>-->
                                <!--<input type="text" class="form-control" id="fyMerchantKey" name="fyMerchantKey"-->
                                       <!--placeholder="富友商户密钥(必填)" data-fieldname="富友商户密钥"/>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label for="slogan">广告语</label>
                                <textarea class="form-control" id="slogan" name="slogan"
                                          rows="3" placeholder="请输入商户的广告语"></textarea>

                            </div>
                            <div class="form-group">
                                <label for="remark">备注</label>
                                <input type="text" class="form-control" id="remark" name="remark"
                                       placeholder="备注">
                            </div>
                            <input type="hidden" name="token" th:value="${token}">
                            <input type="hidden" name="imgBase" id="imgBase">
                            <button type="submit" class="btn btn-primary float-right ml-2">新 增</button>
                            <button type="button" id="btnReset" class="btn btn-danger float-right">重 置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
<th:block th:replace="fragments/js :: managePublic(~{})"></th:block>
<script src="/js/ChineseCities.min.js"></script>
<script type="text/javascript" src="/js/validate/jquery.validate.js"></script>
<script type="text/javascript" src="/js/validate/localization/messages_zh_layer.js"></script>
<script type="text/javascript" src="/js/cropper/cropperjs/cropper.min.js"></script>
<script type="text/javascript" src="/js/cropper/jquery-cropper/jquery-cropper.min.js"></script>
<script>
    $(function () {
        var chineseCities = new ChineseCities({
            'province': 'province', //省份ID
            'city': 'city',
            'hasSelect': function (data) {
                //选择后的回调函数
            }
        });

        $("#btnReset").click(function () {
            var con = layer.confirm('确认重置吗？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $("#form")[0].reset();
                layer.close(con);
            });
        })

        $("#form").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 4,
                    remote: {
                        url: "/admin/merchant/available",
                        type: "post"
                    }
                },
                password: {
                    required: true,
                    rangelength: [5, 20]
                },
                name: {
                    required: true,
                    minlength: 2
                },
                businessLicense: {
                    rangelength: [18, 18]
                },
                province: {
                    required: true
                },
                city: {
                    required: true
                },
                contactName: {
                    required: true,
                    minlength: 2
                },
                contactMobile: {
                    required: true,
                    rangelength: [6, 11]
                },
                contactEmail: {
                    email: true
                },
                contactAddress: {
                    minlength: 2
                },
                bankName: {
                    required: true,
                    minlength: 4
                },
                bankCard: {
                    required: true,
                    rangelength: [12, 20]
                },
                bankCardOwnerName: {
                    required: true,
                    minlength: 2
                },
                bankCardMobile: {
                    required: true,
                    rangelength: [11, 11]
                },
                bankCardOwnerIdCard: {
                    required: true,
                    rangelength: [18, 18]
                }
                // fyMerchantId:{
                //     required:true
                // },
                // fyMerchantKey:{
                //     required:true
                // }
            },
            messages: {
                userName: {
                    remote: "商户登录名已存在"
                },
                businessLicense: {
                    rangelength: "营业执照必须18位的企业社会统一信用代码"
                },
                bankCardMobile: {
                    rangelength: "结算银行卡预留手机号格式不正确"
                },
                bankCardOwnerIdCard: {
                    rangelength: "结算银行卡户主身份证号格式不正确"
                }
            },
            submitHandler: function (form) {
                var img = $("#imgBase").val();
                if (img == null || img.length == 0) {
                    layer.msg("LOGO不能为空，请设置LOGO")
                    return;
                }
                layer.confirm('确认添加新商户？', {
                    btn: ['确认', '取消'] //按钮
                }, function () {
                    form.submit();
                });
            }
        });

        $("#btnUploadImg").click(function () {
            var canvas = $('#imgFile').cropper('getCroppedCanvas',{fillColor:"#fff"});
            var base64 = canvas.toDataURL('image/jpeg');
            dealImage(base64,200,100,function (imgBase64) {
                $("#logoPriew").attr("src", imgBase64);
                $("#imgBase").val(imgBase64)
                $("#largeModal").modal("hide");
            })
        })

        var cropperOptions = {
            aspectRatio: 1,
            viewMode: 1,
            preview: "#preview",
            crop: function (event) {
            }
        }
        var uploadedImageURL;

        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val();
            if (fileName == null || fileName == '') {
                return;
            }

            $(this).next(".custom-file-label").text(fileName)
            var files = $(this).prop("files")
            if (files && files.length) {
                var file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    var $image = $('#imgFile');
                    $image.css("padding-bottom", "")
                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                        $image.cropper("destroy");
                    }
                    uploadedImageURL = URL.createObjectURL(file);
                    $image.attr("src", uploadedImageURL);
                    $image.cropper(cropperOptions);
                } else {
                    layer.msg('请选择一个图像文件！');
                }
            }
        })


        // Methods
        $('.docs-buttons').on('click', '[data-method]', function () {
            $image = $("#imgFile")
            var $this = $(this);
            var data = $this.data();
            var cropper = $image.data('cropper');
            var cropped;
            var $target;
            var result;

            if ($this.prop('disabled') || $this.hasClass('disabled')) {
                return;
            }

            if (cropper && data.method) {
                data = $.extend({}, data); // Clone a new one

                if (typeof data.target !== 'undefined') {
                    $target = $(data.target);

                    if (typeof data.option === 'undefined') {
                        try {
                            data.option = JSON.parse($target.val());
                        } catch (e) {
                            console.log(e.message);
                        }
                    }
                }

                cropped = cropper.cropped;

                result = $image.cropper(data.method, data.option, data.secondOption);

                switch (data.method) {
                    case 'rotate':
                        if (cropped && options.viewMode > 0) {
                            $image.cropper('crop');
                        }
                        break;

                    case 'scaleX':
                    case 'scaleY':
                        $(this).data('option', -data.option);
                        break;

                    case 'getCroppedCanvas':
                        if (result) {
                            // Bootstrap's Modal
                            $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                            if (!$download.hasClass('disabled')) {
                                download.download = uploadedImageName;
                                $download.attr('href', result.toDataURL(uploadedImageType));
                            }
                        }

                        break;

                    case 'destroy':
                        if (uploadedImageURL) {
                            URL.revokeObjectURL(uploadedImageURL);
                            uploadedImageURL = '';
                            $image.attr('src', originalImageURL);
                        }

                        break;
                }

                if ($.isPlainObject(result) && $target) {
                    try {
                        $target.val(JSON.stringify(result));
                    } catch (e) {
                        console.log(e.message);
                    }
                }

            } else {
                layer.msg("请先选择图片");
            }
        });
    })


</script>
</body>
</html>
