<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: managePublic('还款计划列表 - 行游神州管理员后台',~{::link})">
    <link href="/js/myPages/myPages.css" rel="stylesheet" type="text/css"/>
    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="/cosmo/css/daterangepicker/daterangepicker.css"/>
</head>
<body>
<th:block th:replace="fragments/top :: adminPublic('还款计划列表','',~{::#content},~{::#filter})">
    <div id="filter" class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block">
        <div class="controls d-flex justify-content-center justify-content-md-end">
            <form method="get">
                <div class="row">
                    <div class="col-md-4 col-xl-2 p-1">
                        <input type="text" class="form-control d-inline-block" placeholder="还款订单号"
                               name="orderId" th:value="${param.orderId}">
                    </div>
                    <div class="col-md-4 col-xl-1 p-1">
                        <input type="text" class="form-control d-inline-block" placeholder="产品名称"
                               name="projectName" th:value="${param.projectName}">
                    </div>
                    <div class="col-6 col-md-4 col-xl-2 p-1">
                        <input type="text" class="form-control d-inline-block" placeholder="商户名称/ID"
                               name="merchantInfo" th:value="${param.merchantInfo}">
                    </div>
                    <div class="col-6 col-md-4 col-xl-2 p-1">
                        <input type="text" class="form-control d-inline-block" placeholder="客户手机号/姓名/ID"
                               name="memberInfo" th:value="${param.memberInfo}">
                    </div>
                    <div class="col-7 col-md-8 col-xl-2 p-1">
                        <input type="text" class="form-control d-inline-block" id="dateRange" placeholder="点击选择应还款时间范围"
                               th:value="${#strings.isEmpty(param.startTime)}?'':${param.startTime}+' - '+${param.endTime}">
                    </div>
                    <div class="col-3 col-md-3 col-xl-1 p-1">
                        <select class="form-control" name="state" id="state">
                            <option value="">状态</option>
                            <option th:selected="${param.state!=null}?${param.state[0]} eq ${sta.value}"
                                    th:each="sta : ${application.repayState}"
                                    th:text="${sta.key}" th:value="${sta.value}"></option>
                        </select>
                    </div>
                    <div id="repayDiv">
                        <select class="form-control" name="repayType" id="repayType" style="display: none">
                            <option value="">还款方式</option>
                            <option th:selected="${param.repayType!=null}?${param.repayType[0]} eq ${sta.value}"
                                    th:each="sta : ${application.repayType}"
                                    th:text="${sta.key}" th:value="${sta.value}"></option>
                        </select>
                    </div>
                    <div class="col-2 col-md-1 p-1">
                        <input type="hidden" name="startTime" id="startTime" th:value="${param.startTime}">
                        <input type="hidden" name="endTime" id="endTime" th:value="${param.endTime}">
                        <button type="submit" class="btn btn-info py-1 px-2" data-toggle="modal"
                                data-target="#gridFilters"><span
                                class="material-icons align-text-bottom">search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content" id="content">
        <div class="row mt-3 mb-3">
            <div class="col-lg-6 col-xl-4" th:each="item : ${pageInfo.list}">
                <div name="repaymentDiv" class="card mb-4"
                     th:attr="data-day=${item.state==0}?${item.countDownDay}:'false'">
                    <div class="card-header ">
                        <img th:src="${application.imgSite}+'/'+${item.merchant.logo}" class="pb-1 pr-1" style="width: 20px;">
                        <span th:text="${item.merchant.name}"></span>
                        --
                        <span th:text="${item.project.name}"></span>
                        <th:block th:if="${item.state==4 && (item.fakeState == null || item.fakeState == '') }">
                        <button type="button" class="btn py-1 px-2 btn-outline-primary" style="margin-left: 50px;" th:onclick="fRepay('[[${item.id}]]')" th:id="'btn'+${item.id}" name="btn">F模式还款</button>
                        </th:block>
                        <th:block th:if="${item.fakeState != null || item.fakeState == 3}">
                            <button type="button" class="btn py-1 px-2 btn-outline-secondary" style="margin-left: 50px; opacity:0.5;pointer-events:none;">F模式已还款</button>
                        </th:block>
                    </div>
                    <div class="card-body position-relative">
                        <div class="position-absolute" style="top:-35px;right:5px;" th:switch="${item.state}">
                            <img th:case="0" src="/img/repayState1.png">
                            <img th:case="4" src="/img/repayState3.png">
                            <img th:case="*" src="/img/repayState2.png">
                        </div>
                        <h5 class="weight-400">
                            <span class="text-primary">第 [[${item.stage}]] 期</span>
                            /
                            <span class="text-dark">总 [[${item.totalStage}]] 期</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span th:if="${item.state ==1 || item.state ==2 || item.state ==3}">
                                <span th:if="${item.repayType !=null && item.repayType!='' && item.repayType == 0 }" class="text-success">(还款方式：线上)</span>
                                <span th:if="${item.repayType !=null && item.repayType!='' && item.repayType == 1 }" class="text-warning">(还款方式：线下)</span>
                            </span>
                        </h5>
                        <div class="bg-light px-2 py-3 text-center">
                            <div class="row">
                            <span class="col-4 text-muted">
                                已还
                            </span>
                                <span class="col-4 text-muted">
                                本金
                            </span>
                                <span class="col-4 text-muted">
                                利息
                            </span>
                            </div>
                            <div class="row mt-2">
                                <h5 class="weight-400 col-4 text-success" th:text="${#numbers.formatCurrency(item.realAmount)}"></h5>
                                <h5 class="weight-400 col-4" th:text="${#numbers.formatCurrency(item.principal)}"></h5>
                                <h5 class="weight-400 col-4" th:text="${#numbers.formatCurrency(item.interest)}"></h5>
                            </div>
                        </div>
                        <div class="mt-2">
                        <small class="text-muted">
                            订单号：
                            <span style="color:#4E565A;" th:text="${item.orderId}"></span>
                        </small>
                            <span class="badge badge-danger float-right" th:if="${item.state == 4}"
                                  th:with="yqDay = ${item.countDownHour>0?1:0}+${item.countDownDay}">
                                逾期利息:<span th:text="${#numbers.formatCurrency(yqDay*item.project.overdueDayRates*item.principal)}"></span>
                            </span>
                        <br>
                        <small class="text-muted">
                            借款人：
                            <span style="color:#4E565A;"
                                  th:text="${item.memberIdCard ==null?item.member.mobile:item.memberIdCard.name}"></span>
                        </small>
                        <br>
                        <small class="text-muted">
                            应还时间：
                            <span style="color:#4E565A;"
                                  th:text="${#dates.format(item.expectRepayTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </small>
                            <span class="badge badge-primary float-right" th:if="${item.state != 0 and item.state != 4}">
                                [[${#dates.format(item.repayTime, 'yyyy-MM-dd HH:mm:ss')}]]已还
                            </span>
                            <span class="badge badge-warning text-light float-right" th:if="${item.state == 0}">
                                还有
                                <span th:if="${item.countDownDay > 0}"
                                th:text="${item.countDownDay}+'天'"></span>
                                <span th:if="${item.countDownHour > 0}"
                                th:text="${item.countDownHour}+'小时'"></span>
                                到期
                            </span>
                            <span class="badge badge-danger float-right" th:if="${item.state == 4}">
                                已逾期
                                <span th:if="${item.countDownDay > 0}"
                                      th:text="${item.countDownDay}+'天'"></span>
                                <span th:if="${item.countDownHour > 0}"
                                      th:text="${item.countDownHour}+'小时'"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${pageInfo.total > 0}">
            <div class="col-12">
                <div id="pages"></div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="fragments/js :: managePublic(~{})"></th:block>
<script src="/js/myPages/myPages.js" type="text/javascript"></script>
<script src="/cosmo/js/lib/moment.min.js"></script>
<script src="/cosmo/js/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/my-datarange.js"></script>
<script>

    $(function () {
        $("#pages").myPages({
            pageNo: [[${pageInfo.pageNum}]],
            pageSize: [[${pageInfo.pageSize}]],
            lastPage: [[${pageInfo.pages}]],
            preText: "上一页",
            nextText: "下一页",
            url: "/admin/project/repayment/{pageNo}-{pageSize}",
            showPageButton: 6
        })
//时间范围选择器
        myRange("#dateRange", "#startTime", "#endTime");

        $("div[name='repaymentDiv']").each(function () {
            var day = $(this).data("day");
            if (day) {
                var className;
                if (day < 2) {
                    className = "border-danger";
                } else if (day < 4) {
                    className = "border-warning";
                } else if (day < 7) {
                    className = "border-info";
                }
                $(this).addClass(className)
            }
        })

        var state = "[[${param.state}]]";
        if(state == 1 || state == 2 || state ==3){
            $("#repayDiv").addClass("col-3 col-md-3 col-xl-1 p-1");
            $("#repayType").show();
        }else{
            $("#repayType").hide();
            $("#repayDiv").removeAttr('style');
            $("#repayDiv").removeClass("col-3 col-md-3 col-xl-1 p-1");
            $("#repayType").val('');
        }
    })

    $("#state").change(function () {
        //获取select 文本
        // var state = $("#state").find("option:selected").text();
        //获取select 值
        var state =$("#state").find("option:selected").val();
        if(state == 1 || state == 2 || state == 3){
            // $("#repayDiv").attr('style',"flex: 0 0 10%; max-width: 10%;");
            $("#repayDiv").addClass("col-3 col-md-3 col-xl-1 p-1");
            $("#repayType").show();
        }else {
            $("#repayType").hide();
            $("#repayDiv").removeAttr('style');
            $("#repayDiv").removeClass("col-3 col-md-3 col-xl-1 p-1");
            $("#repayType").val('');
        }
    })

    function fRepay(id) {
        layer.confirm('确认F模式还款？', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.get("/admin/project/repayplan/fakeState?id=" + id, function (data) {
                if (data == null || data == "" ) {
                    layer.msg("操作成功");
                    var btnId = "#btn"+id;
                    $(btnId).html("F模式已还款");
                    $(btnId).removeClass("btn-outline-primary");
                    $(btnId).removeClass("btn-outline-secondary");
                    $(btnId).attr("disabled",true);

                } else {
                    layer.msg(data);
                }
            }, 'text')
        });
    }
</script>
</body>
</html>