<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: managePublic('公告信息 - 云水滴商户后台',~{::link})">
    <link href="/js/myPages/myPages.css" rel="stylesheet" type="text/css"/>
    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="/cosmo/css/daterangepicker/daterangepicker.css"/>
</head>
<body>
<th:block th:replace="fragments/top :: merchantPublic('公告列表','',~{::#content},~{::#filter})">
    <div id="filter" class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block">
        <div class="controls d-flex justify-content-center justify-content-md-end">
            <form method="get">
                <div class="row">
                    <div class="col-7 col-md-3 p-1">
                        <input type="text" class="form-control d-inline-block" placeholder="内容"
                               name="keys" th:value="${param.keys}">
                    </div>
                    <div class="col-7 col-md-5 p-1">
                        <input type="text" class="form-control d-inline-block" id="dateRange" placeholder="点击选择添加时间范围"
                               th:value="${#strings.isEmpty(param.startTime)}?'':${param.startTime}+' - '+${param.endTime}">
                    </div>
                    <!--<div class="col-5 col-md-2 p-1">-->
                        <!--<select class="form-control" name="type">-->
                            <!--<option value="">类别</option>-->
                            <!--<option th:selected="${param.type!=null}?${param.type[0]} eq ${codes.value}"-->
                                    <!--th:each="codes : ${application.newsCode}"-->
                                    <!--th:text="${codes.key}" th:value="${codes.value}"></option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-5 col-md-2 p-1">-->
                        <!--<select class="form-control" name="state">-->
                            <!--<option value="">状态</option>-->
                            <!--<option th:selected="${param.state!=null}?${param.state[0]} eq ${sta.value}"-->
                                    <!--th:each="sta : ${application.basicState}"-->
                                    <!--th:text="${sta.key}" th:value="${sta.value}"></option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="col-2 col-md-1 p-1">
                        <input type="hidden" name="startTime" id="startTime" th:value="${param.startTime}">
                        <input type="hidden" name="endTime" id="endTime" th:value="${param.endTime}">
                        <button type="submit" class="btn btn-info py-1 px-2" data-toggle="modal"
                                data-target="#gridFilters"><span
                                class="material-icons align-text-bottom">search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content" id="content">
        <div class="row align-items-center">
            <table class="table table-bordered-sm bg-white responsive-table table-hover table-striped text-md-center">
                <thead class="thead-light2">
                <tr>
                    <th scope="col">标题</th>
                    <th scope="col">内容</th>
                    <th scope="col">时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${pageInfo.list}">
                    <td data-label="标题" th:text="${item.title}"></td>
                    <td data-label="内容" th:title="详情" >
                        <a th:href="'/merchant/news/info?id='+${item.id}" th:utext="${#strings.abbreviate(item.keys,20)}"></a>
                        <!--<span class="text-info"  th:text="${item.contents}"></span>-->
                    </td>
                    <td data-label="时间">
                        <span class="text-success" th:text="${#dates.format(item.createDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" th:if="${pageInfo.total > 0}">
            <div class="col-12">
                <div id="pages"></div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="fragments/js :: managePublic(~{})"></th:block>
<script src="/js/myPages/myPages.js" type="text/javascript"></script>
<script src="/cosmo/js/lib/moment.min.js"></script>
<script src="/cosmo/js/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/my-datarange.js"></script>
<script src="/js/merchantPublic.js"></script>

<script th:inline="javascript">
    $(function () {
        $("#pages").myPages({
            pageNo: [[${pageInfo.pageNum}]],
            pageSize: [[${pageInfo.pageSize}]],
            lastPage: [[${pageInfo.pages}]],
            preText: "上一页",
            nextText: "下一页",
            url: "/merchant/news/list/1001-{pageNo}-{pageSize}",
            showPageButton: 6
        })
        //时间范围选择器
        myRange("#dateRange", "#startTime", "#endTime");
    })
</script>
</body>
</html>